.container {
    width: 60%;
    top: 100px;
}

.image {
    display: block;
    position: relative;
}

.item-tags {
    margin-bottom: 1em;
}

.background-img {
    top: 20px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}