div.headline {
    text-align: center;
    padding-bottom: 50px;
}

container{
    width: 600px;
    top: 200px;
}

#paragraph{
    top: 50%;
}

#trytry { font: 400 1em/1.5 "Neuton"; color: rgba(0,0,0,.5); text-align: center; margin: 0;}

 .tryThis > p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(155,155,155,.5);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: fixed;
    top: 25%;
    left: 50%;
    width: 45em;
    margin: 0 0 0 -20em;

}

.tryThis > p > span {

    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 2px 2px 80px rgba(0,0,0,.5);

    /* Clip Background Image */

    background: url(textfill.png) repeat-y;
    -webkit-background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 60s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}