
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

#body {
}


.container.projects{
    top: 50px;
}

h2{
    font-size: 36px;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Roboto';
    font-weight: bold;
}

div > p {
    font-family: 'Roboto Light';
}

div.headline {
    padding-bottom: 50px;
    font-family: 'Roboto';
}

 div.container {
     width: 90%;
 }

 .container {
     top: 10px;
 }

.projectList{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

section.headline {
    font-size: 30px;
    text-align: left;
}

.test {
    display: inline-block;
}


.projectList .item {
    position: relative;
    display: block;
    padding: 1.2em;
    width: 100%;
}

div {
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}