.headline{
    display: inline;
}

div > img {
    position: relative;
    left: 20px;
    float: left;
}


#infoProgress{
    font-size: 36px;
    color:#999;
    padding-bottom: 40px;
}

div > h2 {
    position: relative;
    left: 40px;
    color: #66FCF1;
    padding-top: 22px;
    vertical-align: center;
}

div.progress {
    position: relative;
    height: 40px;
    top: 0px;
    left: 0px;
    margin-bottom: 5px;
    box-shadow: inset 0 20px 20px rgba(0,0,0,.2);
    width: 100%;
}

div.progress-bar {
    background: darkgrey;
    height: 40px;
    width: 85%;
}

div.progress-bar.progress-bar2 {
    background: darkred;
}


div.progress-bar.progress-bar3 {
    background: darkblue;
}

#quote{
    width: 65%;
    top: 40px;
}

span > p {
    padding-left: 15px;
    color: WHITE;
}

div.progress-bar > .progress-type {
    position: absolute;
    left: 0px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    padding: 8px 30px 6px 10px;
    width: 25%;
    background-color: rgba(25, 25, 25, 0.1);
}

#socialLinks{
    top: 100px;
    width: 400px;
}

div.progress-bar > .progress-completed {
    position: absolute;
    right: 15px;
    padding: 8px 1px 3px;
    color: black;
    font-size: 14px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.skills-list {
    list-style: none;
    margin-bottom: 40px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    margin:0px;
    text-align:center;
}

#container {
    color:#999;
    text-transform: uppercase;
    font-size:34px;
    font-weight:bold;
    padding-top:200px;
    position: relative;
    width:100%;
    bottom:45%;
    display:block;
}

#container > p {
    font-size: 26px;
    font-weight: bold;
}

#flip {
    height:60px;
    overflow:hidden;
}

#flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:70px;
    margin-bottom: 25px;
    text-align: center;
    display:inline-block;
}

#flip div:first-child {
    animation: show 3s infinite ease;
}

#flip div div {
    background:#42c58a;
}

#flip div:first-child div {
    background:#4ec7f3;
}
#flip div:last-child div {
    background:#DC143C;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}
